div{
    background-color: rgba(128, 128, 128, 0.084);
    border-radius: 5px;
    padding: 5px;
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.315);
    border: 3px solid rgba(0, 0, 0, 0.148);
}