div {
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.169);
  box-shadow: 2px 2px 8px grey;
  padding: 5px;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
  background-color: rgb(213, 208, 208);
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.493);
}
